﻿@{
    ViewData["Title"] = "Post Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to posts.
    </p>
    <p>
        Here you can find everything you need to manage posts.
    </p>
</div>