﻿@{
    ViewData["Title"] = "FAQs";
}

<div>
    <h1 class="display-4">Questions & Answers!</h1>
    <div>
        <p>What is Online Consultations about?</p>
        <p>Online consultations for everyone.</p>
    </div>
    <div>
        <p>When is coming?</p>
        <p>Soon</p>
    </div>
</div>