@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What do you need help with today?</h1>
    <h4>I want to find legal help in the area. <a href="https://learn.microsoft.com/aspnet/core">Click Here</a></h4>
    <h4>I want to provide legal services in the area. <a href="https://learn.microsoft.com/aspnet/core">Click Here</a></h4>
</div>
