﻿@{
    ViewData["Title"] = "The Online Consultations News";
}

<div>
    <h1 class="display-4">All the news about Online Consultations!</h1>
    <p>
        03/01/2025 - Online Consultations is Coming Soon!
    </p>
</div>