@model DeleteCommentModelView 

@{
    ViewBag.Title = "Delete Comment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" asp-for="@Model.CommentId" />
            <div class="form-group">
                <label asp-for="CommentTitle" class="control-label">Comment Title</label>
                <input asp-for="CommentTitle" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="CommentDescription" class="control-label">Comment Description</label>
                <input asp-for="CommentDescription" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="GuestUserId" class="control-label">Guest User Id</label>
                <input asp-for="GuestUserId" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="SearchUserId" class="control-label">Search User Id</label>
                <input asp-for="SearchUserId" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="AnswerId" class="control-label">Answer Id</label>
                <input asp-for="AnswerId" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>