﻿@{
    ViewData["Title"] = "Question Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to questions.
    </p>
    <p>
        Here you can find everything you need to manage questions.
    </p>
</div>