﻿@{
    ViewData["Title"] = "Search User Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to search users.
    </p>
    <p>
        Here you can find everything you need to manage search users.
    </p>
</div>