﻿@{
    ViewData["Title"] = "Answer Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to answers.
    </p>
    <p>
        Here you can find everything you need to manage answers.
    </p>
</div>